
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<META HTTP-EQUIV="Pragma" CONTENT="no-cache">-->
    <link rel="canonical" href="https://www.nongsanantoanthanhhoa.vn/ket-noi/tim-doi-tac-mo-rong-phat-trien-thi-truong-tai-cac-huyen-thi-tran-trong-tinh-thanh-hoa"/>
    <meta http-equiv='cache-control' content='no-cache'>

    <!-- SEO -->
    <meta name="description" content="Kết nối cung cầu nông sản, thực phẩm an toàn trên địa bàn tỉnh Thanh Hóa">
    <meta name="title" content="Kết nối cung cầu nông sản, thực phẩm an toàn">
    <meta name="keywords" content="thực phẩm sạch, thực phẩm an toàn, nông sản thanh hóa, an toàn thức phẩm, kết nối cung cầu,
    attp, nông nghiệp sạch, thực phẩm hữu cơ, nongsanantoanthanhhoa, thực phẩm, thanh hóa, Kết nối cung cầu nông sản thực phẩm an toàn, nông sản an toàn," >
    <!-- end SEO -->
    <!-- tag share facebook -->
    <meta property="og:description" content="Kết nối cung cầu nông sản, thực phẩm an toàn trên địa bàn tỉnh Thanh Hóa">
    <meta property="og:title" content="">
    <meta property="og:image" content="https://www.nongsanantoanthanhhoa.vn/css/images/img1_07.jpg">
    <meta property="og:site_name" content="Kết nối cung cầu nông sản, thực phẩm an toàn">
    <meta property="og:url" content="https://www.nongsanantoanthanhhoa.vn/ket-noi/tim-doi-tac-mo-rong-phat-trien-thi-truong-tai-cac-huyen-thi-tran-trong-tinh-thanh-hoa" />
    <meta property="og:type" content="article" />
    <!-- end tag facebook -->
    <!-- CSRF Token -->
    <meta name="csrf-token" content="VZd0SqaPjl1VqinPk1CDrXybOpwFJ8fPcubBmn4Z">
    <title>Tìm đối tác mở rộng, phát triển thị trường tại các huyện, thị trấn trong tỉnh Thanh Hóa
    - Kết nối cung cầu nông sản an toàn Thanh Hoá</title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://www.nongsanantoanthanhhoa.vn/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" type="text/css" href="css/select2.min.css">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/slick-theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/lightslider.css">
    <link href="css/nhomsp.css" rel="stylesheet">
    <link href="https://www.nongsanantoanthanhhoa.vn/css/chitietsanpham.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/owl.theme.default.min.css" rel="stylesheet">
    <link href="css/ketnoi.css" rel="stylesheet">
    <link href="css/style-shop.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bolocsanpham.css">
</head>
<body>
<header id="header">
    <div class="top-header container-fluil none-mobile">
        <div class="container">
            <ul class="nav navbar-nav navbar-left">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="li-tg"><a href="https://www.nongsanantoanthanhhoa.vn/tro-giup">Trợ giúp</a></li>

                <li class="li-dn">
                    <a class="nav-link" href="https://www.nongsanantoanthanhhoa.vn/register">Đăng ký</a>
                </li>
                <li class="li-dk">
                    <a class="nav-link" href="https://www.nongsanantoanthanhhoa.vn/login">Đăng nhập</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="banner container-fluil">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="file:///D:/nongsan/index.html"><img src="images/logo.png" alt="Kết nối cung cầu nông sản, thực phẩm an toàn"></a>
                    </div>
                </div>
                <div class="col-md-8 wrap-search">
                    <div id="search" class="search-form">
                        <span class="twitter-typeahead">
                            <input type="text" value="" class="tt-hint" readonly="" autocomplete="off" spellcheck="false" tabindex="-1" dir="ltr">
                            <input type="text" value="" id="text-search" name="search"  placeholder="Tìm kiếm thông tin trên trang" class="tt-input" autocomplete="off" spellcheck="false" dir="auto">
                            <pre aria-hidden="true"></pre>
                            <div class="tt-menu">
                                <div class="tt-dataset tt-dataset-users"></div>
                            </div>
                        </span>
                        <div class="pac-card" id="pac-card">
                            <div id="pac-container">
                                <input type="hidden" id="lat" value="0" name="lat" />
                                <input type="hidden" id="lng" value="0" name="lng" />
                                <input id="pac-input" type="text" placeholder="Nhập vào vị trí của bạn" />
                                <div id="get-location" title="Bấm vào đây để lấy tọa độ vị trí hiện tại của bạn!" class="check-location-desk click">
                                    <img src="images/location.png" alt="Bấm vào đây để lấy tọa độ vị trí hiện tại của bạn!" >
                                </div>
                            </div>
                        </div>
                        <button class="iconSearchHeader" onclick="search();"><i class="fa fa-search"></i></button>
                        <div id="mapId"></div>
                    </div>
                </div>
                <div class="col-md-1 wrap-search">
                    <div class="card-wrapper">
                        <a class="btn-post-cart" href="https://www.nongsanantoanthanhhoa.vn/get-cart">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="cart-count">0</span>
                        </a>
                        <div class="cart-web-hover" >
                            <div class="cart-sp">
                                <div >
                                    <div class="cart-content-title v-center">Sản phẩm mới thêm</div>
                                    <div class="product-items-cart">

                                    </div>
                                    <div class="cart-web-item-footer">
                                        <div class="navbar__spacer"></div>
                                        <button   class="btn btn-solid-primary btn--s btn--inline">Xem Giỏ hàng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluil">
        <div class="navbar navbar-default" role="navigation">
            <div class="">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <ul class="block-mobile regis">

                        <li class="li-tg"><a href="https://www.nongsanantoanthanhhoa.vn/tro-giup">Trợ giúp</a></li>

                        <li class="li-dn">
                            <a class="nav-link" href="https://www.nongsanantoanthanhhoa.vn/register">Đăng ký</a>
                        </li>
                        <li class="li-dk">
                            <a class="nav-link" href="https://www.nongsanantoanthanhhoa.vn/login">Đăng nhập</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse container menu-hor">
                    <ul class="nav navbar-nav">
                        <li class="dropdown dmsp">
                            <a class="dropdown-toggle toggle-button-dmsp" class="navbar-toggle" data-toggle="collapse"><i class="fa fa-list"></i>DANH MỤC SẢN PHẨM</a>
                            <ul class="dropdown-menu menu-vertical-dmsp">
                                <li  class="dropdown dropdown-submenu" >
                                    <a  class="dropdown-toggle"  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/rau-cu-qua">
                                        Rau, củ, quả
                                    </a>
                                    <i class="fa fa-angle-right pull-right subDropdown"></i>
                                    <ul id="menu0" class="dropdown-menu">
                                        <li >
                                            <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/rau-cu-qua-tuoi">
                                                Rau, củ, quả tươi
                                            </a>
                                        </li>
                                        <li >
                                           <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/hoa-qua-tuoi">
                                            Hoa quả tươi
                                        </a>
                                        </li>
                                    </ul>
                                </li>
                                <li  class="dropdown dropdown-submenu" >
                                    <a  class="dropdown-toggle"  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/thit-gia-suc-gia-cam">
                                        Thịt gia súc, gia cầm
                                    </a>
                                    <i class="fa fa-angle-right pull-right subDropdown"></i>
                                    <ul id="menu1" class="dropdown-menu">
                                        <li >
                                            <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/thit-lon">
                                                Thịt lợn
                                            </a>
                                        </li>
                                        <li >
                                            <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/thit-bo">
                                                Thịt bò
                                            </a>
                                        </li>
                                        <li >
                                         <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/thit-ga-vit">
                                            Thịt gà, vịt
                                        </a>
                                        </li>
                                        <li >
                                         <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/trung-gia-cam">
                                            Trứng gà, vịt, chim
                                        </a>
                                        </li>
                                    </ul>
                                </li>
                                <li  class="dropdown dropdown-submenu" >
                                    <a  class="dropdown-toggle"  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/ngu-coc-gia-vi">
                                        Ngũ cốc, gia vị
                                    </a>
                                    <i class="fa fa-angle-right pull-right subDropdown"></i>
                                    <ul id="menu2" class="dropdown-menu">
                                        <li >
                                            <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/luong-thuc">
                                                Lương thực
                                            </a>
                                        </li>
                                        <li >
                                         <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/ngu-coc-so-che">
                                            Ngũ cốc sơ chế
                                        </a>
                                        </li>
                                        <li >
                                           <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/muoi-duong">
                                            Muối, đường
                                        </a>
                                        </li>
                                        <li >
                                           <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/cacao-dieu-ho-tieu">
                                            Cacao, điều, hồ tiêu
                                        </a>
                                        </li>
                                        <li >
                                           <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/nuoc-mam">
                                            Nước mắm
                                        </a>
                                        </li>
                                    </ul>
                                </li>
                                <li  class="dropdown dropdown-submenu" >
                                    <a  class="dropdown-toggle"  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/do-uong-duoc-lieu">
                                        Đồ uống, dược liệu
                                    </a>
                                    <i class="fa fa-angle-right pull-right subDropdown"></i>
                                    <ul id="menu3" class="dropdown-menu">
                                        <li >
                                            <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/nuoc-giai-khat">
                                            Nước giải khát
                                            </a>
                                            </li>
                                            <li >
                                             <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/sua-va-cac-sp-tu-sua">
                                                Sữa và các SP từ sữa
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li  class="dropdown dropdown-submenu" >
                                    <a  class="dropdown-toggle"  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/san-pham-dong-goi">
                                        Sản phẩm đóng gói
                                    </a>
                                    <i class="fa fa-angle-right pull-right subDropdown"></i>
                                    <ul id="menu4" class="dropdown-menu">
                                        <li >
                                           <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/banh-keo">
                                            Banh, kẹo
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li  class="dropdown dropdown-submenu" >
                                    <a  class="dropdown-toggle"  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/thuy-hai-san">
                                        Thủy, hải sản
                                    </a>
                                    <i class="fa fa-angle-right pull-right subDropdown"></i>
                                    <ul id="menu5" class="dropdown-menu">
                                        <li >
                                           <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/tom-cua-oc">
                                            Tôm, cua, ốc
                                        </a>
                                        </li>
                                        <li >
                                           <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/ca-ao-ho">
                                            Cá ao hồ
                                            </a>
                                        </li>
                                        <li >
                                           <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/ca-bien">
                                            Cá biển
                                        </a>
                                        </li>
                                    </ul>
                                </li>
                                <li >
                                    <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-san-pham/cac-san-pham-khac">
                                    Các sản phẩm khác
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--<ul class="dropdown-menu" data-widget="tree">-->
                        <li >
                            <a  href="https://www.nongsanantoanthanhhoa.vn/#">
                                <i class='fa '></i><span>Trang chủ</span>
                            </a>
                        </li>
                        <li >
                            <a  href="https://www.nongsanantoanthanhhoa.vn/ket-noi">
                                <i class='fa '></i><span>Kết nối cung cầu</span>
                            </a>
                        </li>
                        <li  class="dropdown menu-sub-hor" >
                            <a  class="dropdown-toggle"   href="file:///D:/nongsan/shop.html">
                                <i class='fa '></i><span>Nguồn cung cấp</span>
                            </a>
                            <i class="fa fa-angle-down subDropdown" ></i>
                            <ul class="dropdown-menu">
                                <li >
                                    <a  href="file:///D:/nongsan/shop.html">
                                        <i class='fa '></i><span>Cơ sở SX, KD</span>
                                    </a>
                                </li>
                                <li >
                                    <a  href="file:///D:/nongsan/vung-san-xuat.html">
                                        <i class='fa '></i><span>Vùng sản xuất</span>
                                    </a>
                                </li>
                                <li >
                                    <a  href="https://www.nongsanantoanthanhhoa.vn/dia-diem-kinh-doanh">
                                        <i class='fa '></i><span>Địa điểm kinh doanh</span>
                                    </a>
                                </li>
                                <li >
                                    <a  href="https://www.nongsanantoanthanhhoa.vn/map">
                                        <i class='fa '></i><span>Bản đồ phân bố cơ sở</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li  class="dropdown menu-sub-hor" >
                            <a  class="dropdown-toggle"   href="https://www.nongsanantoanthanhhoa.vn/#">
                                <i class='fa '></i><span>Thông tin hữu ích</span>
                            </a>
                            <i class="fa fa-angle-down subDropdown" ></i>
                            <ul class="dropdown-menu">
                                <li >
                                    <a  href="https://www.nongsanantoanthanhhoa.vn/danh-muc-tin-tuc">
                                        <i class='fa '></i><span>Tin ATTP</span>
                                    </a>
                                </li>
                                <li >
                                    <a  href="https://www.nongsanantoanthanhhoa.vn/van-ban-qppl">
                                        <i class='fa '></i><span>Văn bản về ATTP</span>
                                    </a>
                                </li>
                                <li >
                                    <a  href="https://www.nongsanantoanthanhhoa.vn/video">
                                        <i class='fa '></i><span>Thư viện video</span>
                                    </a>
                                </li>
                                <li >
                                    <a  href="https://www.nongsanantoanthanhhoa.vn/thu-vien-anh">
                                        <i class='fa '></i><span>Thư viện ảnh</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li >
                            <a  href="https://www.nongsanantoanthanhhoa.vn/lien-he">
                                <i class='fa '></i><span>Liên hệ, phản hồi</span>
                            </a>
                        </li>
    <!--</ul>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end-header -->
<content>
    <div class="wrap-page detail-ads-wrap">
       <div class="wrap-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="https://www.nongsanantoanthanhhoa.vn" title="Trang chủ">Trang chủ</a></li>
                    <li><a href="https://www.nongsanantoanthanhhoa.vn/ket-noi" title="Sản phẩm">Kết nối cung cầu
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="buy-center" >
                <div class="row">
                    <div class="col-md-8">
                        <div class="buy-center-linked-list buy-center-linked-list-detail">
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-4 col-100">
                                    <div class="messageUserBlock">
                                        <div class="avatarHolder"><img src="images/p8bVg0BSx2WuKm0tVmSFNed9Jb1rpGxNQqRG02Gu.jpeg"></div>
                                        <div class="userText">
                                            <div class="userTitle"><a href="#" class="username" dir="auto" itemprop="name">Công ty TNHH Phát triển và Thương mại Bắc Nam</a></div>
                                            <div class="datejoin">Tham gia:   17/08/2019 </div>
                                            <div class="area1">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                Phường Trường Thi-Thành phố Thanh Hóa-Thanh Hóa
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-8 col-xs-8 col-100 border-ads">
                                    <div class="block-h1">
                                        <h1 >Tìm đối tác mở rộng, phát triển thị trường tại các huyện, thị trấn trong tỉnh Thanh Hóa</h1>
                                    </div>
                                    <div class="content-muaban">
                                        <div class="ngaydang">
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i> 17/08/2019</span>
                                            <span>|</span>
                                            <span><i class="fa fa-television" aria-hidden="true"></i> 15 lượt xem</span>
                                        </div>
                                        <div class="news-buy-main">
                                            <div class="loaisp"><strong>Loại sản phẩm:</strong><span class="span-label">Các sản phẩm khác</span></div>
                                            <div><strong>Khu vực:</strong>   <span class="area"><i class="fa fa-map-marker" aria-hidden="true"></i>Thanh Hóa</span></div>
                                            <div><strong>Địa chỉ:</strong>   <span class="area"><i class="fa fa-map-marker" aria-hidden="true"></i>SN 180 Trường Thi - TP. Thanh Hóa</span></div>
                                            <div><strong>Điện thoại:</strong> <span class="area"><i class="fa fa-phone" aria-hidden="true" ></i>0904767090</span></div>
                                            <div>Ngày hết hạn: <span> 30/09/2019 </span></div>
                                        </div>
                                        <div class="chitiet-buy">
                                            <p>Công ty TNHH Phát triển và Thương mại Bắc Nam chuyên cung cấp (Bán buôn, bán lẻ) các sản phẩm đặc sản vùng, miền thuộc các tỉnh, thành trong cả nước. Cần tìm đối tác, nhà phân phối nhằm mở, rộng và phát triển thị trường tại các huyện, thị trong tỉnh Thanh Hóa.</p>
                                        </div>
                                        <div id="gallery" class="item">
                                            <ul id="content-slider">
                                                <li>
                                                    <img src="images/whD8WAMgIOuQLrKkkNR0IjezN8A6WVojrHzA5SCz.jpeg" />
                                                </li>
                                                <li>
                                                    <img src="images/K4PQN9OCiuuQs2WSUmnepWC0lkkM7644IYpVuBAc.jpeg" />
                                                </li>
                                                <li>
                                                    <img src="images/Ph8BXyfj30BaRyWVM70y8JlGVOadn4JrY4jwkG0x.jpeg" />
                                                </li>
                                                <li>
                                                    <img src="images/ug60N02QMsr1EePQUDMM8aClOJwOkrcEH6dxf68n.jpeg" />
                                                </li>
                                                <li>
                                                    <img src="images/JJBdo7P5XrtR1bqL0AXyaWc0ngNlPXBOR9W3EmE5.jpeg" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ncc-center-topic">
                            <div class="block-h1">
                                <h1>Nhà cung cấp tiêu biểu</h1>
                            </div>
                            <div class="wrap-ncc-r match-my-cols is-flex1">
                                <div class="ncc-rightlist media">
                                    <a class= "pull-left" href="#" >
                                        <img class="img-ncc-right-list" title="" alt="" src="images/u2HFPeSzJySYug14REo7UDXgAvaw4YxMfQnLbjB6.jpg">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Công ty Cổ phần TM và XNK thực phẩm Sao Mai</a></h4>
                                        <p><b>Địa chỉ: </b>Lô G36 KP 1 Bình Min</p>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap-ncc-r match-my-cols is-flex1">
                                <div class="ncc-rightlist media">
                                    <a class= "pull-left" href="#" >
                                        <img class="img-ncc-right-list" title="" alt="" src="images/clH9jBoWf9JMc0rrHUNBKKovlPOCwlWBj1enw6ZC.jpeg">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">BB H.E.O</a></h4>
                                        <p><b>Địa chỉ: </b>47 Lạc Long Quân</p>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap-ncc-r match-my-cols is-flex1">
                                <div class="ncc-rightlist media">
                                    <a class= "pull-left" href="#" >
                                        <img class="img-ncc-right-list" title="" alt="" src="images/hAgLcTKRKk44LhJzQYvnKVFJcHzkTpTSpYAo9bQl.jpeg">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Thực phẩm sạch Hiền Nhuần</a></h4>
                                        <p><b>Địa chỉ: </b>Lô 202 Bào Ngoại</p>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap-ncc-r match-my-cols is-flex1">
                                <div class="ncc-rightlist media">
                                    <a class= "pull-left" href="#" >
                                        <img class="img-ncc-right-list" title="" alt="" src="images/cl8zyCtFrziMWNV9IEL1AS6WeSjyx8v9i6Mq3nPY.jpeg">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">HỢP TÁC XÃ DỊCH VỤ CHĂN NUÔI GÀ TA THANH HÓA</a></h4>
                                        <p ><b>Địa chỉ: </b>xóm 6 xã thọ sơn</p>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap-ncc-r match-my-cols is-flex1">
                                <div class="ncc-rightlist media">
                                    <a class= "pull-left" href="#" >
                                        <img class="img-ncc-right-list" title="" alt="" src="images/no-image.png">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Hộ kinh doanh Lê Ngọc Vi</a></h4>
                                        <p><b>Địa chỉ: </b>Xã Hà Phong</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-h1">
                    <h1>Tin kết nối cung cầu</h1>
                </div>
                <div class="buy-center-linked-list-columns-index">
                    <div class="row is-flex">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="buy-li1">
                                <div class="news-buy">
                                    <div class="icon-buy-li">
                                        <a href="#">
                                            <img  src="images/7ngZTpGm0Z9nfTOd5KX2fupskAvgtNXiU0t6wZrs.jpeg" >
                                        </a>
                                    </div>
                                    <div class="wrap-buy-li">
                                        <h4><a class="post-link1" href="#">Sữa chua 36 Chanh leo</a></h4>
                                        <div class="info-buy">
                                            <span class="userport">
                                                <span>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <a href="
                                                    #
                                                    ">
                                                    Công ty cổ phần Sữa Thanh Hóa
                                                    </a>
                                                </span>
                                            </span>
                                            <span>|</span>
                                            <span class="port-time">
                                                <span><i class="fa fa-clock-o" aria-hidden="true"></i> 31/07/2019</span>
                                            </span>
                                            <span>|</span>
                                            <span class="port-time">
                                                <span><i class="fa fa fa-bars" aria-hidden="true"></i> Cần bán</span>
                                            </span>
                                        </div>
                                        <div class="post-desc">
                                            Bán
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="buy-li1">
                                <div class="news-buy">
                                    <div class="icon-buy-li">
                                        <a href="#">
                                            <img  src="images/5WwaNGRFeNvyYA97KcNGNdBIFaiTiJwRwZmv81X5.jpg" >
                                        </a>
                                    </div>
                                    <div class="wrap-buy-li">
                                        <h4><a class="post-link1" href="#">Sữa chua 36 vị dê</a></h4>
                                        <div class="info-buy">
                                            <span class="userport">
                                                <span>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <a href="
                                                    #
                                                    ">
                                                    Công ty cổ phần Sữa Thanh Hóa
                                                    </a>
                                                </span>
                                            </span>
                                            <span>|</span>
                                            <span class="port-time">
                                                <span><i class="fa fa-clock-o" aria-hidden="true"></i> 31/07/2019</span>
                                            </span>
                                            <span>|</span>
                                            <span class="port-time">
                                                <span><i class="fa fa fa-bars" aria-hidden="true"></i> Cần bán</span>
                                            </span>
                                        </div>
                                        <div class="post-desc">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="buy-li1">
                                <div class="news-buy">
                                    <div class="icon-buy-li">
                                        <a href="#">
                                            <img  src="images/7ngZTpGm0Z9nfTOd5KX2fupskAvgtNXiU0t6wZrs.jpeg" >
                                        </a>
                                    </div>
                                    <div class="wrap-buy-li">
                                        <h4><a class="post-link1" href="#">Sữa chua 36 Chanh leo</a></h4>
                                        <div class="info-buy">
                                            <span class="userport">
                                                <span>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <a href="
                                                    #
                                                    ">
                                                    Công ty cổ phần Sữa Thanh Hóa
                                                    </a>
                                                </span>
                                            </span>
                                            <span>|</span>
                                            <span class="port-time">
                                                <span><i class="fa fa-clock-o" aria-hidden="true"></i> 31/07/2019</span>
                                            </span>
                                            <span>|</span>
                                            <span class="port-time">
                                                <span><i class="fa fa fa-bars" aria-hidden="true"></i> Cần bán</span>
                                            </span>
                                        </div>
                                        <div class="post-desc">
                                            Bán
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="buy-li1">
                                <div class="news-buy">
                                    <div class="icon-buy-li">
                                        <a href="#">
                                            <img  src="images/5WwaNGRFeNvyYA97KcNGNdBIFaiTiJwRwZmv81X5.jpg" >
                                        </a>
                                    </div>
                                    <div class="wrap-buy-li">
                                        <h4><a class="post-link1" href="#">Sữa chua 36 vị dê</a></h4>
                                        <div class="info-buy">
                                            <span class="userport">
                                                <span>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <a href="
                                                    #
                                                    ">
                                                    Công ty cổ phần Sữa Thanh Hóa
                                                    </a>
                                                </span>
                                            </span>
                                            <span>|</span>
                                            <span class="port-time">
                                                <span><i class="fa fa-clock-o" aria-hidden="true"></i> 31/07/2019</span>
                                            </span>
                                            <span>|</span>
                                            <span class="port-time">
                                                <span><i class="fa fa fa-bars" aria-hidden="true"></i> Cần bán</span>
                                            </span>
                                        </div>
                                        <div class="post-desc">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-lienhe" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"> Gửi Yêu Cầu </h4>
                </div>
                <div class="modal-body">
                    <div class="box-body table-responsive">
                        <div class="box-body">
                            <div class="fs-dtrtcmtbox">
                                <textarea id="txtContent" name="txtContent" rows="3" class="f-cmttarea fsformsc" placeholder="Nội dung yêu cầu..."></textarea>
                                <div class="fs-dtrtbots clearfix"> 
                                    <p>Bạn vui lòng nhập nội dung yêu cầu</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>Hủy</button>
                    <button id="btn-send-request-product" type="button" class="btn btn-primary"><i class="fa fa-check"></i>Gửi</button>
                </div>
            </div>
            <input type="hidden" id="productId" />
        </div>
    </div>
</content>
<!-- end-content -->
<footer id="footer">
    <div class="ft-before">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-footer">
                        <div class="footer-logo widget" >
                            <h3 class="widget-title" >TẢI ỨNG DỤNG DI ĐỘNG </h3>
                            <span><img  src="https://www.nongsanantoanthanhhoa.vn/css/images/qrcode-app.png" class="attachment-full size-full" alt="Tải ứng dụng di động phần mềm kết nối cung cầu"></span>
                            <div class="footer-icons">
                                <div>
                                    <a href="https://play.google.com/store/apps/details?id=com.ketnoicungcau&amp;hl=vi" target="_blank"><img  width="100" height="20" src="https://www.nongsanantoanthanhhoa.vn/css/images/adr.png" class="attachment-full size-full" alt="Tải ứng dụng trên Google Play"> </a>
                                </div>
                                <div>
                                    <a href="https://itunes.apple.com/vn/app//id1454619497?l=vi&amp;mt=8" target="_blank"><img  width="80" height="20" src="https://www.nongsanantoanthanhhoa.vn/css/images/ios.png" class="attachment-full size-full" alt="Tải ứng dụng trên App Store"> </a>
                                </div>
                            </div>
                        </div>
                        <iframe  src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnongsanantoanthanhhoa.vn&tabs=272&width=340&height=154&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="360" height="154" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media">
                        </iframe>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row" >
                        <div class="col-md-4 col-xs-6 widget">
                            <h3 class="widget-title">THÔNG TIN</h3>
                            <ul class="widget-menu">
                                <li class="munu-footer">
                                    <a href="https://www.nongsanantoanthanhhoa.vn/about/gioi-thieu">Giới thiệu</a>
                                </li>
                                <li class="munu-footer">
                                    <a href="https://www.nongsanantoanthanhhoa.vn/document/quy-che-su-dung-phan-mem.pdf" target="_blank">Quy chế hoạt động</a>
                                </li>
                                <li class="munu-footer">
                                    <a href="https://www.nongsanantoanthanhhoa.vn/about/dieu-khoan-tham-gia">Điều khoản tham gia</a>
                                </li>
                                <li class="munu-footer">
                                    <a href="https://www.nongsanantoanthanhhoa.vn/about/privacy-policy">Chính sách bảo mật</a>
                                </li>
                                <li class="munu-footer">
                                    <a href="https://www.nongsanantoanthanhhoa.vn/document/tai-lieu-hdsd-nguoi-dung.pdf" target="_blank">Hướng dẫn sử dụng</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-6  widget">
                            <h3 class="widget-title">CƠ QUAN QUẢN LÝ</h3>
                            <ul class="widget-menu">
                                <li class="munu-footer">
                                    <a href="https://www.nongsanantoanthanhhoa.vn/about/ubnd-tinh-thanh-hoa">UBND tỉnh Thanh Hóa</a>
                                </li>
                                <li class="munu-footer">
                                    <a href="https://www.nongsanantoanthanhhoa.vn/about/cac-so-ban-nganh">Sở, ban, ngành</a>
                                </li>
                                <li class="munu-footer">
                                    <a href="https://www.nongsanantoanthanhhoa.vn/about/ubnd-huyen-thi-tp">UBND huyện, thị, thành phố</a>
                                </li>
                                <li class="munu-footer">
                                    <a href="https://www.nongsanantoanthanhhoa.vn/about/ubnd-xa-phuong">UBND xã, phường, thị trấn</a>
                                </li>
                                <li class="munu-footer">
                                    <a href="https://www.nongsanantoanthanhhoa.vn/lien-he">Thông tin liên hệ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-6  widget">
                            <h3 class="widget-title">THAM GIA CÙNG CHÚNG TÔI</h3>
                            <ul class="widget-menu">
                                <li class="munu-footer">
                                    <a href="https://www.nongsanantoanthanhhoa.vn/about/co-so-sxkd">Cơ sở sản xuất, kinh doanh </a>
                                </li>
                                <li class="munu-footer">
                                    <a href="https://www.nongsanantoanthanhhoa.vn/about/nguoi-tieu-dung">Người tiêu dùng </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="end-ft">
        <span>© 2019 Kết nối cung cầu nông sản an toàn Thanh Hóa.</span>| <span class="hotline-ft">02373961818</span>|<span class="email-ft">vpdpattp@thanhhoa.gov.vn</span>
    </div>
</footer>
<!-- end-footer -->
<div id="fb-root"></div>
<!-- Scripts declare here -->
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/select2.full.min.js"></script>
<script src="js/slick.js"></script>
<script src="js/lightslider.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/customizer.js"></script>
<!-- Stack script : Push scrip here -->
<script>
    $(document).ready(function() {
            $("#content-slider").lightSlider({
                loop:true,
                item: 1,
                auto: true,
                keyPress:true,
                pause: 6000,
            });
        });
    </script>

</body>

</html>
